<!DOCTYPE html>
<html>
  <head>
    <title>WheelHouseTwo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= javascript_importmap_tags %>
    <%#= <script src="https://cdn-tailwindcss.vercel.app/"></script>
    <%= stylesheet_link_tag "application", defer: true  %>
    <%= javascript_include_tag "application", defer: true %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
