<!DOCTYPE html>
<html>
  <head>
    <title>WheelHouseTwo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= javascript_importmap_tags %>
    <%# <link
  rel="stylesheet"
  href="https://unpkg.com/@shopify/polaris@7.3.1/build/esm/styles.css"
/> %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
